<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group2.bakunapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BAKUNAPP">
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Roap"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".AllergyList"
            android:exported="false" />
        <activity
            android:name=".AdminReg"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".UsersProfile"
            android:exported="false" />
        <activity
            android:name=".Datausers"
            android:exported="false" />
        <activity
            android:name=".Reg2"
            android:exported="false" />
        <activity
            android:name=".Appointment"
            android:exported="false" />
        <activity
            android:name=".A5"
            android:exported="false" />
        <activity
            android:name=".A4"
            android:exported="false" />
        <activity
            android:name=".A3"
            android:exported="false" />
        <activity
            android:name=".a2"
            android:exported="false" />
        <activity
            android:name=".Update"
            android:exported="false" />
        <activity
            android:name=".Info"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".A1"
            android:exported="false" />
        <activity
            android:name=".Category"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>